<!-- edit-user-form.component.html -->
<mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="data.name">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="email" placeholder="Email" [(ngModel)]="data.email">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput type="tel" placeholder="Phone Number" [(ngModel)]="data.phone">
  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Address" [(ngModel)]="data.address">
  </mat-form-field>
  